body{	
background: white;
font-family:arial,helvetica;
position: relative;
}
.container{
	width:40%;
	margin:0px auto;

}
 header{ 
	background: white;
	height: 100px;
	margin:0px auto;
	border:1px green ;
	text-align:center;
	color:black;
	border-bottom:3px dashed ;
}

.imagen{
	width:500px;
	height: auto;
	margin: auto;
}

aside{
	float:right;
	width:20%;
	background:lightgreen;
	min-height:500px;
}
footer{
	background:black;
	color: white;
	text-align:center;
	height:50px;
	line-height:50px;
}

